body {
    margin: 0;
}
.main-idea{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-main{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-main > h1 {
    color: #77ffc0;
}

.right-main{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-code{
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
